body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.loading-spinner {
    color: #fff;
    font-size: 3rem;
}

/* Cacher l'overlay par défaut */
.d-none {
    display: none !important;
}

.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}