.audits-section {
    background-color: white; /* Fond global */
    padding: 3rem 0;
}

.custom-h3 {
    font-size: 1.5rem; /* Réduction de la taille des titres H3 */
    font-weight: bold;
    color: #1D291D;
    text-align: center;
}

.custom-img {
    max-width: 75%; /* Réduction de la taille des images */
    height: auto; /* Conserver les proportions */
}