footer {
    background-color: #1D291D; /* Couleur de fond sombre */
    color: white; /* Texte blanc */
    border-top-left-radius: 1rem; /* Coins inférieurs arrondis */
    border-top-right-radius: 1rem;
}

footer i {
    color: white; /* Icônes blanches */
    font-size: 1.2rem; /* Taille des icônes */
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

footer .bg-dark {
    background-color: #1D291D !important; /* Assure la couleur du footer */
}

footer .text-white {
    color: white !important;
}

/* Styles pour mobile */
@media (max-width: 576px) {
    /* Aligner les éléments à gauche en mobile */
    footer .text-end {
        text-align: left !important;
    }

    footer .justify-content-end {
        justify-content: start !important;
    }

    .col-gauche {
        margin-bottom: 1rem;
    }
}