.renov-section {
    background-color: white; /* Fond global */
    padding: 3rem 0; /* Espacement vertical */
}

.renov-box p{
    margin-left: 4rem;
    margin-top: -3rem;
    text-align: center;
}

.custom-h3 {
    font-size: 1.5rem; /* Réduction de la taille des titres H3 */
    font-weight: bold;
    color: #175b17;
    text-align: center;
    margin-bottom: -1rem;
    margin-left: 4rem;
}

.custom-img {
    max-width: 75%; /* Réduction de la taille des images */
    height: auto; /* Conserver les proportions */
}

/* Cercle numéroté et ligne */
.step {
    display: flex;
    align-items: center;
}

.circle {
    width: 60px; /* Augmenté pour agrandir le cercle */
    height: 60px; /* Augmenté pour agrandir le cercle */
    background-color: #175b17; /* Couleur verte */
    color: white;
    font-size: 1.5rem; /* Police ajustée pour correspondre à la taille du cercle */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: -2px; /* Supprime l'espace entre le cercle et la ligne */
    z-index: 1; /* Place le cercle au-dessus de la ligne */
}

.line {
    flex-grow: 1;
    height: 4px;
    background-color: #175b17; /* Couleur verte */
}

.tel-visible{
    display: none !important;
}

.ordi-visible{
    display: flex !important;
}

@media (max-width: 768px) {
    .custom-h3 {
        font-size: 1rem; /* Réduction de la taille des titres H3 */
        margin-left: 0;
        margin-top: 4rem;
    }

    h1{
        font-size: 1.4rem;
    }

    .renov-box p{
        font-size: 0.8rem;
        margin-left: 0;
    }

    .tel-visible{
        display: flex !important;
    }

    .ordi-visible{
        display: none !important;
    }

    .renov-box{
        margin-top: 2rem;
    }

    .custom-img {
        margin-top: -2rem;
    }

    .first-title{
        margin-top: 0;
    }
}
    